<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <div class="profile-info">
        <h1>Profile</h1>
        <p><%= @user.username %></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9">
      <div class="books-list">
        <h3>My Books</h3>
        <% @user.books.each do |book| %>
          <%= render "user_book", book: book %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="books-list">
          <h3>Borrowed Books</h3>
            <% @user.borrowings.where(status: "loaned").each do |borrowing| %>
              <%= render "borrowed_book", borrowing: borrowing %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="books-list">
            <h3>Loaned Books</h3>
            <% @user.loans.where(status: "loaned").each do |loan| %>
              <%= render "loaned_book", loan: loan %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
