<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="text-center home-wrapper">
        <h1>Welcome to the Bookstore!</h1>
        <p>Sign up to access to all the functionalities</p>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
